<!DOCTYPE html>
<html lang="en">

<!-- BEGIN HEAD -->
<head>
    <% include nav/header.ejs %>
</head>
<!-- END HEAD -->

<body class="page-container-bg-solid">

<div class="page-wrapper">
    <% include nav/nav.ejs %>
    <div class="page-wrapper-row full-height">
        <div class="page-wrapper-middle">
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <!-- BEGIN PAGE CONTENT BODY -->
                    <div class="page-content">
                        <div class="container">

                            <!-- BEGIN PAGE BREADCRUMBS -->
                            <ul class="page-breadcrumb breadcrumb">
                                <li>
                                    <a href="/tab_home">Home</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <a href="#">Pages</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span>Service Standard</span>
                                </li>
                            </ul>
                            <!-- END PAGE BREADCRUMBS -->

                            <div class="note note-success">
                                <h4>
                                    서비스 소개 > 삶의 질 지표
                                </h4>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <h1>연구에 참조한 주요 삶의 질 지수 입니다.</h1>
                                </div>
                                <!-- /.col-lg-12 -->
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <!--<i class="fa fa-comments fa-5x"></i>-->
                                                    <!--<img src="images/service1.jpg" class=".img-circle" width="100%">-->
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="huge">IMD</div>
                                                    <div>삶의 질 지수</div>
                                                </div>
                                            </div>
                                        </div>
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            <div class="panel-footer">
                                                <span class="pull-left">확인하기</span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="panel panel-green">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <!--<i class="fa fa-tasks fa-5x"></i>-->
                                                    <!--<img src="images/service2.jpg" class=".img-circle" width="100%">-->
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="huge">OECD</div>
                                                    <div>삶의 질 지수</div>
                                                </div>
                                            </div>
                                        </div>
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                            <div class="panel-footer">
                                                <span class="pull-left">확인하기</span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="panel panel-yellow">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <!--<i class="fa fa-shopping-cart fa-5x"></i>-->
                                                    <!--<img src="images/service3.jpg" class=".img-circle" width="100%">-->
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="huge">UNDP</div>
                                                    <div>인간 개발 지수</div>
                                                </div>
                                            </div>
                                        </div>
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                            <div class="panel-footer">
                                                <span class="pull-left">확인하기</span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="panel panel-red">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <!--<i class="fa fa-support fa-5x"></i>-->
                                                    <!--<img src="images/service4.jpg" class=".img-circle" width="100%">-->
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    <div class="huge">Japan</div>
                                                    <div>풍요로움 지수</div>
                                                </div>
                                            </div>
                                        </div>
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                            <div class="panel-footer">
                                                <span class="pull-left">확인하기</span>
                                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            삶의 질 지수 기관
                                        </div>
                                        <!-- .panel-heading -->
                                        <div class="panel-body">
                                            <div class="panel-group" id="accordion">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion"
                                                               href="#collapseOne">IMD 삶의 질 지수</a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseOne" class="panel-collapse collapse in">
                                                        <div class="panel-body">
                                                            <div class="alert alert-success">
                                                                <strong> 측정방법 </strong> 설문 조사 결과를 바탕으로 순위 산출
                                                            </div>
                                                            <div class="alert alert-info">
                                                                <strong> 평가지표 </strong>
                                                                <ul>
                                                                    <li>삶의 질 (Executive Opinion Survey 119개 항목 중 하나)
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="alert alert-danger">
                                                                <strong> 비 고 </strong> 삶의 질 설문 조사 결과를 국가 경쟁력 지표로 활용
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion"
                                                               href="#collapseTwo">OECD 삶의 질 지수</a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseTwo" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <div class="alert alert-success">
                                                                <strong> 측정방법 </strong> OECD 사회 통계에서 삶의 질 평가 부분에 대하여
                                                                회원국들의 통계 조사
                                                            </div>
                                                            <div class="alert alert-info">
                                                                <strong> 평가지표 </strong>
                                                                <ul>
                                                                    <li>건강(기대수명, 유아 사망률등)</li>
                                                                    <li>여가(여행 숙박일수 등)</li>
                                                                    <li>사회(소득불균형, 범죄율 등)</li>
                                                                    <li>교통(도로망, 자동차 수 등)</li>
                                                                </ul>
                                                            </div>
                                                            <div class="alert alert-danger">
                                                                <strong> 비 고 </strong> 삶의 질 부문 전체를 고려한 순위는 따로 산출 하지 않음
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion"
                                                               href="#collapseThree">UNDP 인간 개발 지수</a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseThree" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <div class="alert alert-success">
                                                                <strong> 측정방법 </strong> 인간개발과 관련된 각종 객관적 지표를 이용하여 순위 선정
                                                            </div>
                                                            <div class="alert alert-info">
                                                                <strong> 평가지표 </strong>
                                                                <ul>
                                                                    <li>건강(기대수명 등)</li>
                                                                    <li>교육(문맹률, 총 공공 교육비용 등)</li>
                                                                    <li>생활수준(구매력 평가 GDP 등)</li>
                                                                </ul>
                                                            </div>
                                                            <div class="alert alert-danger">
                                                                <strong> 비 고 </strong> 인간의 개발 지수 이외에도 공공교육, 경제성과, 에너지 및
                                                                환경부문 등에도 삶의 질 지표는 다수 존재
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion"
                                                               href="#collapseFour">Japan 풍요로움 지수</a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseFour" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <div class="alert alert-success">
                                                                <strong> 측정방법 </strong> 삶의 질을 나타내는 풍요로움에 대해 6개 지표를 이용하여
                                                                순위 선정
                                                            </div>
                                                            <div class="alert alert-info">
                                                                <strong> 평가지표 </strong>
                                                                <ul>
                                                                    <li>건강</li>
                                                                    <li>환경</li>
                                                                    <li>노동</li>
                                                                    <li>교육</li>
                                                                    <li>문명</li>
                                                                    <li>거시경제</li>
                                                                </ul>
                                                            </div>
                                                            <div class="alert alert-danger">
                                                                <strong> 비 고 </strong>
                                                                <ul>
                                                                    <li>World Bank 와 OECD의 데이터를 이용한 객관적 지표</li>
                                                                    <li>국가간 지표별 비교에 적합</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .panel-body -->
                                    </div>
                                    <!-- /.panel -->
                                </div>
                                <!-- /.col-lg-12 -->
                            </div>

                            <% include nav/gachon_copyright.ejs %>

                        </div>
                    </div>
                    <!-- END PAGE CONTENT BODY -->
                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->
                <!-- BEGIN QUICK SIDEBAR -->
                <a href="javascript:;" class="page-quick-sidebar-toggler">
                    <i class="icon-login"></i>
                </a>
            </div>
            <!-- END CONTAINER -->
        </div>
    </div>
    <% include nav/footer_copyright.ejs %>
</div>

<% include nav/footer.ejs %>
</body>
</html>
