<!DOCTYPE html>

<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <% include nav/header.ejs %>
</head>
<!-- END HEAD -->

<body class="page-container-bg-solid">

<div class="page-wrapper">
    <% include nav/nav.ejs %>
    <div class="page-wrapper-row full-height">
        <div class="page-wrapper-middle">
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <!-- BEGIN PAGE CONTENT BODY -->
                    <div class="page-content">
                        <div class="container">
                            <!-- BEGIN PAGE BREADCRUMBS -->
                            <ul class="page-breadcrumb breadcrumb">
                                <li>
                                    <a href="index.html">Home</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <a href="#">Pages</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span>General</span>
                                </li>
                            </ul>
                            <!-- END PAGE BREADCRUMBS -->

                            <div class="note note-success">
                                <h4>
                                    tab_document_site - 미완성
                                </h4>
                            </div>

                            <!-- Portfolio Grid Section -->
                            <section id="portfolio">
                                <div class="container">
                                    <div class="row">

                                        <!-- 1. 정부3.0 공공데이터포털 -->
                                        <div class="col-sm-3 portfolio-item">
                                            <a href="https://www.data.go.kr/" class="portfolio-link" data-toggle="modal">
                                                <div class="caption">
                                                    <div class="caption-content">
                                                        <i class="fa fa-search-plus fa-3x"></i>
                                                    </div>
                                                </div>
                                                <img src="../img_table/img/1.png" class="img-responsive" alt="">
                                            </a>
                                        </div>

                                        <!-- 2. 네이버 데이터 랩 -->
                                        <div class="col-sm-3 portfolio-item">
                                            <a href="http://datalab.naver.com/" class="portfolio-link" data-toggle="modal">
                                                <div class="caption">
                                                    <div class="caption-content">
                                                        <i class="fa fa-search-plus fa-3x"></i>
                                                    </div>
                                                </div>
                                                <img src="../img_table/img/2.png" class="img-responsive" alt="">
                                            </a>
                                        </div>

                                        <!-- 3. 서울 열린 데이터 광장 -->
                                        <div class="col-sm-3 portfolio-item">
                                            <a href="http://data.seoul.go.kr/" class="portfolio-link" data-toggle="modal">
                                                <div class="caption">
                                                    <div class="caption-content">
                                                        <i class="fa fa-search-plus fa-3x"></i>
                                                    </div>
                                                </div>
                                                <img src="../img_table/img/3.png" class="img-responsive" alt="">
                                            </a>
                                        </div>

                                        <!-- 4. 경기 데이터 드림 -->
                                        <div class="col-sm-3 portfolio-item">
                                            <a href="http://data.gg.go.kr/portal/mainPage.do" class="portfolio-link" data-toggle="modal">
                                                <div class="caption">
                                                    <div class="caption-content">
                                                        <i class="fa fa-search-plus fa-3x"></i>
                                                    </div>
                                                </div>
                                                <img src="../img_table/img/3.png" class="img-responsive" alt="">
                                            </a>
                                        </div>

                                        <!-- 5. 문화 데이터 광장 -->
                                        <div class="col-sm-3 portfolio-item">
                                            <a href="http://www.culture.go.kr/data/main/main.do" class="portfolio-link" data-toggle="modal">
                                                <div class="caption">
                                                    <div class="caption-content">
                                                        <i class="fa fa-search-plus fa-3x"></i>
                                                    </div>
                                                </div>
                                                <img src="../img_table/img/3.png" class="img-responsive" alt="">
                                            </a>
                                        </div>

                                        <!-- 6. 강원 공공 데이터 -->
                                        <div class="col-sm-3 portfolio-item">
                                            <a href="http://data.gwd.go.kr/" class="portfolio-link" data-toggle="modal">
                                                <div class="caption">
                                                    <div class="caption-content">
                                                        <i class="fa fa-search-plus fa-3x"></i>
                                                    </div>
                                                </div>
                                                <img src="../img_table/img/3.png" class="img-responsive" alt="">
                                            </a>
                                        </div>

                                        <!-- 7. 고속도로 공공 데이터 포털 -->
                                        <div class="col-sm-3 portfolio-item">
                                            <a href="http://data.ex.co.kr/" class="portfolio-link" data-toggle="modal">
                                                <div class="caption">
                                                    <div class="caption-content">
                                                        <i class="fa fa-search-plus fa-3x"></i>
                                                    </div>
                                                </div>
                                                <img src="../img_table/img/3.png" class="img-responsive" alt="">
                                            </a>
                                        </div>

                                        <!-- 8. 오픈 한글 -->
                                        <div class="col-sm-3 portfolio-item">
                                            <a href="http://openhangul.com/about" class="portfolio-link" data-toggle="modal">
                                                <div class="caption">
                                                    <div class="caption-content">
                                                        <i class="fa fa-search-plus fa-3x"></i>
                                                    </div>
                                                </div>
                                                <img src="../img_table/img/3.png" class="img-responsive" alt="">
                                            </a>
                                        </div>

                                        <!-- 9.FLWLINGDATA -->
                                        <div class="col-sm-3 portfolio-item">
                                            <a href="http://flowingdata.com/" class="portfolio-link" data-toggle="modal">
                                                <div class="caption">
                                                    <div class="caption-content">
                                                        <img src="#" class="img-responsive" alt="">
                                                    </div>
                                                </div>
                                                <img src="../img_table/img/3.png" class="img-responsive" alt="">
                                            </a>
                                        </div>

                                        <!-- 10. BEAM -->
                                        <div class="col-sm-3 portfolio-item">
                                            <a href="#" class="portfolio-link" data-toggle="modal">
                                                <div class="caption">
                                                    <div class="caption-content">
                                                        <i class="fa fa-search-plus fa-3x"></i>
                                                    </div>
                                                </div>
                                                <img src="../img_table/img/3.png" class="img-responsive" alt="">
                                            </a>
                                        </div>

                                        <!-- 11. ODPia -->
                                        <div class="col-sm-3 portfolio-item">
                                            <a href="https://www.odpia.org/main.odpia" class="portfolio-link" data-toggle="modal">
                                                <div class="caption">
                                                    <div class="caption-content">
                                                        <i class="fa fa-search-plus fa-3x"></i>
                                                    </div>
                                                </div>
                                                <img src="../img_table/img/3.png" class="img-responsive" alt="">
                                            </a>
                                        </div>

                                        <!-- 12. 웹에서 하는 R 통계 -->
                                        <div class="col-sm-3 portfolio-item">
                                            <a href="http://web-r.org/" class="portfolio-link" data-toggle="modal">
                                                <div class="caption">
                                                    <div class="caption-content">
                                                        <i class="fa fa-search-plus fa-3x"></i>
                                                    </div>
                                                </div>
                                                <img src="../img_table/img/3.png" class="img-responsive" alt="">
                                            </a>
                                        </div>

                                        <!-- 13. 보건의료 빅데이터 개방 시스템 -->
                                        <div class="col-sm-3 portfolio-item">
                                            <a href="http://opendata.hira.or.kr/home.do" class="portfolio-link" data-toggle="modal">
                                                <div class="caption">
                                                    <div class="caption-content">
                                                        <i class="fa fa-search-plus fa-3x"></i>
                                                    </div>
                                                </div>
                                                <img src="../img_table/img/3.png" class="img-responsive" alt="">
                                            </a>
                                        </div>

                                        <!-- 14. 건축 데이터 민간 개방 시스템 -->
                                        <div class="col-sm-3 portfolio-item">
                                            <a href="http://open.eais.go.kr/" class="portfolio-link" data-toggle="modal">
                                                <div class="caption">
                                                    <div class="caption-content">
                                                        <i class="fa fa-search-plus fa-3x"></i>
                                                    </div>
                                                </div>
                                                <img src="../img_table/img/3.png" class="img-responsive" alt="">
                                            </a>
                                        </div>

                                        <!-- 15. 농림 축산 식품공공데이터 포털 -->
                                        <div class="col-sm-3 portfolio-item">
                                            <a href="http://data.mafra.go.kr/" class="portfolio-link" data-toggle="modal">
                                                <div class="caption">
                                                    <div class="caption-content">
                                                        <i class="fa fa-search-plus fa-3x"></i>
                                                    </div>
                                                </div>
                                                <img src="../img_table/img/3.png" class="img-responsive" alt="">
                                            </a>
                                        </div>

                                        <!-- 16. 기상 자료 개방포털 -->
                                        <div class="col-sm-3 portfolio-item">
                                            <a href="https://data.kma.go.kr/cmmn/main.do" class="portfolio-link" data-toggle="modal">
                                                <div class="caption">
                                                    <div class="caption-content">
                                                        <i class="fa fa-search-plus fa-3x"></i>
                                                    </div>
                                                </div>
                                                <img src="../img_table/img/3.png" class="img-responsive" alt="">
                                            </a>
                                        </div>

                                        <!-- 17. 재난 안전 데이터 포털 -->
                                        <div class="col-sm-3 portfolio-item">
                                            <a href="https://data.mpss.go.kr/Portal_new/" class="portfolio-link" data-toggle="modal">
                                                <div class="caption">
                                                    <div class="caption-content">
                                                        <i class="fa fa-search-plus fa-3x"></i>
                                                    </div>
                                                </div>
                                                <img src="../img_table/img/3.png" class="img-responsive" alt="">
                                            </a>
                                        </div>

                                        <!-- 18. 공공데이터제공분쟁조정위원회 -->
                                        <div class="col-sm-3 portfolio-item">
                                            <a href="http://www.odmc.or.kr/home/homeIndex.do?menuCode=mediation" class="portfolio-link" data-toggle="modal">
                                                <div class="caption">
                                                    <div class="caption-content">
                                                        <i class="fa fa-search-plus fa-3x"></i>
                                                    </div>
                                                </div>
                                                <img src="../img_table/img/3.png" class="img-responsive" alt="">
                                            </a>
                                        </div>

                                        <!-- 19. SKT BIG DATA HUB -->
                                        <div class="col-sm-3 portfolio-item">
                                            <a href="http://www.bigdatahub.co.kr/index.do" class="portfolio-link" data-toggle="modal">
                                                <div class="caption">
                                                    <div class="caption-content">
                                                        <i class="fa fa-search-plus fa-3x"></i>
                                                    </div>
                                                </div>
                                                <img src="../img_table/img/3.png" class="img-responsive" alt="">
                                            </a>
                                        </div>

                                        <!-- 20. 한국 사회 과학 데이터 센터 -->
                                        <div class="col-sm-3 portfolio-item">
                                            <a href="http://www.ksdc.re.kr/" class="portfolio-link" data-toggle="modal">
                                                <div class="caption">
                                                    <div class="caption-content">
                                                        <i class="fa fa-search-plus fa-3x"></i>
                                                    </div>
                                                </div>
                                                <img src="../img_table/img/3.png" class="img-responsive" alt="">
                                            </a>
                                        </div>

                                        <!-- 21. 국민 삶의 질 지표 -->
                                        <div class="col-sm-3 portfolio-item">
                                            <a href="http://qol.kostat.go.kr/blife/main.do" class="portfolio-link" data-toggle="modal">
                                                <div class="caption">
                                                    <div class="caption-content">
                                                        <i class="fa fa-search-plus fa-3x"></i>
                                                    </div>
                                                </div>
                                                <img src="../img_table/img/3.png" class="img-responsive" alt="">
                                            </a>
                                        </div>

                                        <!-- 22. 한국 청소년 정책 연구원 -->
                                        <div class="col-sm-3 portfolio-item">
                                            <a href="http://www.nypi.re.kr/contents/siteMain.do" class="portfolio-link" data-toggle="modal">
                                                <div class="caption">
                                                    <div class="caption-content">
                                                        <i class="fa fa-search-plus fa-3x"></i>
                                                    </div>
                                                </div>
                                                <img src="../img_table/img/3.png" class="img-responsive" alt="">
                                            </a>
                                        </div>

                                        <!-- 23. 아동 청소년 비만 관리 플랫폼 SeeMe5 -->
                                        <div class="col-sm-3 portfolio-item">
                                            <a href="http://www.seeme5.org/" class="portfolio-link" data-toggle="modal">
                                                <div class="caption">
                                                    <div class="caption-content">
                                                        <i class="fa fa-search-plus fa-3x"></i>
                                                    </div>
                                                </div>
                                                <img src="../img_table/img/3.png" class="img-responsive" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- Portfolio Grid Section -->

                            <!-- BEGIN PAGE CONTENT INNER -->
                            <div class="page-content-inner">
                                <div class="invoice">
                                    <div class="row invoice-logo">
                                        <div class="col-xs-6 invoice-logo-space">
                                            <img src="../assets/pages/media/invoice/walmart.png" class="img-responsive"
                                                 alt=""/></div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PAGE CONTENT INNER -->

                            <p class="blog-post-desc"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                                diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
                                wisi enim ad minim veniam, quis nostrud exerci
                                tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem
                                ipsum dolor sit amet, consectetuer adipiscing elit </p>
                        </div>
                    </div>
                    <!-- END PAGE CONTENT BODY -->
                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->
                <!-- BEGIN QUICK SIDEBAR -->
                <a href="javascript:;" class="page-quick-sidebar-toggler">
                    <i class="icon-login"></i>
                </a>
            </div>
            <!-- END CONTAINER -->
        </div>
    </div>
    <% include nav/footer_copyright.ejs %>
</div>

<% include nav/footer.ejs %>
</body>
</html>
