<!DOCTYPE html>

<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <% include nav/header.ejs %>
</head>
<!-- END HEAD -->

<body class="page-container-bg-solid">

<div class="page-wrapper">
    <% include nav/nav.ejs %>
    <div class="page-wrapper-row full-height">
        <div class="page-wrapper-middle">
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <!-- BEGIN PAGE CONTENT BODY -->
                    <div class="page-content">
                        <div class="container">
                            <!-- BEGIN PAGE BREADCRUMBS -->
                            <ul class="page-breadcrumb breadcrumb">
                                <li>
                                    <a href="index.html">Home</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <a href="#">About Us</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span>members</span>
                                </li>
                            </ul>
                            <!-- END PAGE BREADCRUMBS -->

                            <div class="note note-success">
                                <h4>
                                    About Us > 만든 이 > OCL 연구진을 소개 합니다.
                                </h4>
                            </div>

                            <!-- /.row -->
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Name
                                        </div>
                                        <div class="panel-body">
                                            <center>
                                                <img src="images/github.png" class=".img-circle">
                                                <h1>name</h1>
                                                <p>content</p>
                                            </center>
                                        </div>
                                        <div class="panel-footer">
                                            Panel Footer
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col-lg-4 -->
                                <div class="col-lg-4">
                                    <div class="panel panel-danger">
                                        <div class="panel-heading">
                                            Name
                                        </div>
                                        <div class="panel-body">
                                            <center>
                                                <img src="images/github.png" class=".img-circle">
                                                <h1>name</h1>
                                                <p>content</p>
                                            </center>
                                        </div>
                                        <div class="panel-footer">
                                            Panel Footer
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col-lg-4 -->
                                <div class="col-lg-4">
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            Success Panel
                                        </div>
                                        <div class="panel-body">
                                            <center>
                                                <img src="images/github.png" class=".img-circle">
                                                <h1>name</h1>
                                                <p>content</p>
                                            </center>
                                        </div>
                                        <div class="panel-footer">
                                            Panel Footer
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col-lg-4 -->
                            </div>
                            <!-- /.row -->
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            Info Panel
                                        </div>
                                        <div class="panel-body">
                                            <center>
                                                <img src="images/github.png" class=".img-circle">
                                                <h1>name</h1>
                                                <p>content</p>
                                            </center>
                                        </div>
                                        <div class="panel-footer">
                                            Panel Footer
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col-lg-4 -->
                                <div class="col-lg-4">
                                    <div class="panel panel-warning">
                                        <div class="panel-heading">
                                            Warning Panel
                                        </div>
                                        <div class="panel-body">
                                            <center>
                                                <img src="images/github.png" class=".img-circle">
                                                <h1>name</h1>
                                                <p>content</p>
                                            </center>
                                        </div>
                                        <div class="panel-footer">
                                            Panel Footer
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col-lg-4 -->
                                <div class="col-lg-4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Danger Panel
                                        </div>
                                        <div class="panel-body">
                                            <center>
                                                <img src="images/github.png" class=".img-circle">
                                                <h1>name</h1>
                                                <p>content</p>
                                            </center>
                                        </div>
                                        <div class="panel-footer">
                                            Panel Footer
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col-lg-4 -->
                            </div>
                            <!-- /.row -->


                            <% include nav/gachon_copyright.ejs %>

                        </div>
                    </div>
                    <!-- END PAGE CONTENT BODY -->
                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->
                <!-- BEGIN QUICK SIDEBAR -->
                <a href="javascript:;" class="page-quick-sidebar-toggler">
                    <i class="icon-login"></i>
                </a>
            </div>
            <!-- END CONTAINER -->
        </div>
    </div>
    <% include nav/footer_copyright.ejs %>
</div>

<% include nav/footer.ejs %>
</body>
</html>