<!DOCTYPE html>

<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <% include nav/header.ejs %>
</head>
<!-- END HEAD -->

<body class="page-container-bg-solid">

<div class="page-wrapper">
    <% include nav/nav.ejs %>
    <div class="page-wrapper-row full-height">
        <div class="page-wrapper-middle">
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <!-- BEGIN PAGE CONTENT BODY -->
                    <div class="page-content">
                        <div class="container">
                            <!-- BEGIN PAGE BREADCRUMBS -->
                            <ul class="page-breadcrumb breadcrumb">
                                <li>
                                    <a href="/">Home</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <a href="/">Pages</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span>General</span>
                                </li>
                            </ul>
                            <!-- END PAGE BREADCRUMBS -->

                            <div class="note note-success">
                                <h4>
                                    About Us > 연구개요
                                </h4>
                            </div>

                            <h3>배경</h3>
                            <p>
                                청소년기는 신체적.정신적 성장발달이 일어나는 시기이다.
                                이 시기는 자아주체성을 확립하고 인격적 성숙을 이루는 성인기와 아동기의 과도기로서
                                심리적 불안정과 신체적 많은 변화를 경험하게 된다. 따라서 이들의 삶의 질의 측정은 절실히 요구되고,
                                측정된 청소년의 삶의 질 지수를 통해 필요한 문제들을 조기에 파악하는 청소년 정책의 개발은 필수적이다.
                            </p>

                            <h3>목적</h3>
                            <p>
                                본 연구는 온라인(소셜, 웹사이트)상에 되어 있는 청소년 삶의 질
                                키워드를 통해 대한민국 청소년의 평균 삶의 질 지수를 측정하고,
                                웹 사이트에서 제공하는 자신의 삶의 질 지수와 비교 할 수 있는
                                <strong>‘ 청소년 삶의 질 모니터링 ’을 구축 </strong>하는 것을 목표로 한다.
                            </p>

                            <h3>정의</h3>
                            <p>
                                삶의 질 ( : Qulity Of Life, QOL) 이란 사람들의 복지나 행복의 정도를 말한다.
                                이 개념에는 개념에는 물질적인 측면(건강, 식사, 고통의 부재 등)과
                                정신적인 측면(스트레스나 걱정이 없고 즐거움 등)이 있다.
                                <a href="https://ko.wikipedia.org/wiki/%EC%82%B6%EC%9D%98_%EC%A7%88">(출처 : 위키 백과 사전)</a>
                            </p>

                            <% include nav/gachon_copyright.ejs %>

                        </div>
                    </div>
                    <!-- END PAGE CONTENT BODY -->
                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->
                <!-- BEGIN QUICK SIDEBAR -->
                <a href="javascript:;" class="page-quick-sidebar-toggler">
                    <i class="icon-login"></i>
                </a>
            </div>
            <!-- END CONTAINER -->
        </div>
    </div>
    <% include nav/footer_copyright.ejs %>
</div>

<% include nav/footer.ejs %>
</body>
</html>
