<!DOCTYPE html>

<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <% include nav/header.ejs %>
</head>
<!-- END HEAD -->

<body class="page-container-bg-solid">

<div class="page-wrapper">
    <% include nav/nav.ejs %>
    <div class="page-wrapper-row full-height">
        <div class="page-wrapper-middle">
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <!-- BEGIN PAGE CONTENT BODY -->
                    <div class="page-content">
                        <div class="container">
                            <!-- BEGIN PAGE BREADCRUMBS -->
                            <ul class="page-breadcrumb breadcrumb">
                                <li>
                                    <a href="/tab_home">Home</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <a href="#">Pages</a>
                                    <i class="fa fa-circle"></i>
                                </li>
                                <li>
                                    <span>Service</span>
                                </li>
                            </ul>
                            <!-- END PAGE BREADCRUMBS -->

                            <div class="note note-success">
                                <h4>
                                    서비스 소개 > 삶의 질이란 ?
                                </h4>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-clock-o fa-fw"></i> What is QOL?
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <ul class="timeline">
                                        <li>
                                            <div class="timeline-badge">
                                                <i class="fa fa-check"></i>
                                            </div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <h4 class="timeline-title"><strong>어떻게 시작됬을까요 ?</strong></h4>
                                                    <!--<p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small></p> -->
                                                </div>
                                                <div class="timeline-body">
                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            <p><br/>후생경제학자<br/>pigou ‘삶의 질’언급</p>
                                                        </div>
                                                        <div class="col-lg-7">
                                                            <img src="/images/service_img_1.jpg" class="img-circle" width="100%"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="timeline-inverted">
                                            <div class="timeline-badge warning"><i class="fa fa-check"></i>
                                            </div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <h4 class="timeline-title"><strong>WHO</strong></h4>
                                                </div>
                                                <div class="timeline-body">
                                                    <div class="row">
                                                        <div class="col-lg-7">
                                                            <p><br/>삶의 질을 ‘자신이 속해 있는 문화 및 가치 체계와 자신의 목표, 기대, 규범 및 관심에 관련된 삶 속에서 자신의 처지에 대한 개인적 인식'이라고 정의하여 주관적인 관점에서 접근.
                                                            </p>
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <img style="margin: 3%" src="/images/service_img_2.jpg" width="100%"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="timeline-badge danger"><i class="fa fa-check"></i>
                                            </div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <h4 class="timeline-title"><strong>UN</strong></h4>
                                                </div>
                                                <div class="timeline-body">
                                                    <div class="row">
                                                        <div class="col-lg-7">
                                                            <p><br/>삶의 질이란‘소득이나 생산과 같은 정량적 측정 보다는 사회지표에 의해 측정된 인류복지의 개념'이라고 정의하여 주관적인 관점에서 삶의 질을 정의</p>
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <img style="margin: 3%" src="/images/service_img_3.jpg" width="100%"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="timeline-inverted">
                                            <div class="timeline-badge yellow"><i class="fa fa-check"></i>
                                            </div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <h4 class="timeline-title"><strong>과학기술부</strong></h4>
                                                </div>
                                                <div class="timeline-body">
                                                    <div class="row">
                                                        <div class="col-lg-7">
                                                            <p><br/>삶의 질을 ‘일상에서 정신적, 신체적, 경제적, 사회적 상태로부터 느끼는 행복한 정도'로 정의하여, 주관적인 측면과 객관적인 측면을 모두 고려하며, 매우 포괄적으로 삶의 질을 정의.
                                                            </p>
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <img style="margin: 3%" src="/images/service_img_4.jpg" width="100%"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="timeline-badge info"><i class="fa fa-check"></i>
                                            </div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <h4 class="timeline-title"><strong>통계청</strong></h4>
                                                </div>
                                                <div class="timeline-body">
                                                    <div class="row">
                                                        <div class="col-lg-7">
                                                            <p><br/>국민 삶의 질 측정을 위한 분석틀 제작
                                                                참고 사이트 :
                                                            </p>
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <img style="margin: 3%" src="/images/service_img_5.jpg" width="100%"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="timeline-inverted">
                                            <div class="timeline-badge success"><i class="fa fa-check"></i>
                                            </div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <h4 class="timeline-title"><strong>가천대학교</strong></h4>
                                                </div>
                                                <div class="timeline-body">
                                                    <div class="row">
                                                        <div class="col-lg-7">
                                                            <p><br/>
                                                                기존에 언급된 삶의 질의 개념을 청소년 삶의 질로 타켓을 집중하여 청소년과 관련된 키워드 중심으로 청소년 삶의 질의 개념을 정의.
                                                            </p>
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <img style="margin: 3%" src="/images/service_img_6.jpg" width="100%"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.panel-body -->
                            </div>

                            <% include nav/gachon_copyright.ejs %>

                        </div>
                    </div>
                    <!-- END PAGE CONTENT BODY -->
                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->
                <!-- BEGIN QUICK SIDEBAR -->
                <a href="javascript:;" class="page-quick-sidebar-toggler">
                    <i class="icon-login"></i>
                </a>
            </div>
            <!-- END CONTAINER -->
        </div>
    </div>
    <% include nav/footer_copyright.ejs %>
</div>

<% include nav/footer.ejs %>
</body>
</html>
