
<div class="page-wrapper-row">
    <div class="page-wrapper-bottom">
        <!-- BEGIN FOOTER -->
        <!-- BEGIN INNER FOOTER -->
        <div class="page-footer">
            <div class="container">
                <!--<div class="row">-->
                    <!--<div class="col-lg-12">-->
                        <!--<ul class="list-inline">-->
                            <!--<li>-->
                                <!--<a href="#">Home</a>-->
                            <!--</li>-->
                            <!--<li class="footer-menu-divider">&sdot;</li>-->
                            <!--<li>-->
                                <!--<a href="#about">About</a>-->
                            <!--</li>-->
                            <!--<li class="footer-menu-divider">&sdot;</li>-->
                            <!--<li>-->
                                <!--<a href="#services">Services</a>-->
                            <!--</li>-->
                            <!--<li class="footer-menu-divider">&sdot;</li>-->
                            <!--<li>-->
                                <!--<a href="#contact">Contact</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->

                <br/>

                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">

                        <div class="item active">
                            <span style="overflow: visible; white-space: nowrap">
                                <img src="../images/link1.png" alt="Chania" width="33%">
                                <img src="../images/link2.png" alt="Chania" width="33%">
                                <img src="../images/link3.png" alt="Chania" width="33%">
                            </span>
                        </div>

                        <div class="item">
                            <span style="overflow: visible; white-space: nowrap">
                                <img src="../images/link4.png" alt="Chania" width="33%">
                                <img src="../images/link5.png" alt="Chania" width="33%">
                                <img src="../images/link6.png" alt="Chania" width="33%">
                            </span>
                        </div>

                        <div class="item">
                            <span style="overflow: visible; white-space: nowrap">
                                <img src="../images/link7.png" alt="Chania" width="33%">
                                <img src="../images/link8.png" alt="Chania" width="33%">
                                <img src="../images/link9.png" alt="Chania" width="33%">
                            </span>
                        </div>

                        <div class="item">
                            <span style="overflow: visible; white-space: nowrap">
                                <img src="../images/link10.png" alt="Chania" width="33%">
                                <img src="../images/link11.png" alt="Chania" width="33%">
                                <img src="../images/link12.jpg" alt="Chania" width="33%">
                            </span>
                        </div>

                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <br/>

                <p class="copyright text-muted small">2016 &copy; OCL & 사회문제해결형기술개발연구단</p>
            </div>
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
        <!-- END INNER FOOTER -->
        <!-- END FOOTER -->
    </div>
</div>

