<!-- BEGIN PAGE CONTENT INNER -->
<div class="page-content-inner">
    <div class="invoice">
        <div class="row invoice-logo">
            <div class="col-xs-6 invoice-logo-space">
                <img src="../assets/pages/media/invoice/walmart.png" class="img-responsive"
                     alt=""/></div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT INNER -->

<!--<p class="blog-post-desc"> 이 페이지의 저작관은 가천대학교 OCL.lab에 있습니다.</p>-->